:root {
  /* cores que serão utilizadas no site */

  /* fundo do site */
  --principal: #0c0c0c;

  /* cor do texto */
  --corContraste: #ffffff;

  /* elementos de destaque */
  --secundária: #00478d;
}
@font-face {
  font-family: anta;
  src: url(fonts/Anta-Regular.ttf);
}
@font-face {
  font-family: quantico;
  src: url(fonts/Quantico/Quantico-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--principal);
  color: var(--corContraste);
  /* font-family: quantico; */
}
.inicioEProjetos {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.inicioEProjetos > h1:first-child:hover,
.inicioEProjetos > .nav-link:hover {
  transition: transform 1.5s ease;
  color: var(--secundária);
}

.nav-link {
  color: var(--corContraste);
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
.topo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
  text-align: center;
  font-family: quantico;
}
.topo a{
  margin: 0;
  color: var(--corContraste);
  text-decoration: none;
}
.inicioEProjetos > h1:first-child {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
.topo>h1>a>span {
  /*ainda estou planejando o que fazer aqui */
  margin-top: 20px;
  color: var(--secundária);
  text-decoration: none;
}
.topo > h1 > a> span:hover {
  transform: scale(1);
  transition: transform 0.3s ease;
  color: var(--corContraste);
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: nowrap;
  margin: 50px;
}
.perfilWrap {
  display: flex;
  flex-direction: column;
  gap: 10px; /* aumentar espaço entre itens da coluna */
  min-width: 0;
}
.container1 h1 {
  font-size: 3rem;
}
.container1 p {
  font-size: 1.3rem;
  margin: 0;
}
.descricao {
  font-size: 1rem;
  margin-top: 34px !important; /* força espaçamento caso outra regra esteja sobrescrevendo */
}
.profPic {
  display: grid;
  /* place-items: center; */
}
.profPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stacks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin: 50px;
  font-family: quantico;
}
.stacks p {
  font-size: 1.1rem;
  border: solid 2px rgb(37, 37, 35);
  background-color: rgba(37, 37, 35, 0.475);
  text-align: center;
  padding: 10px;
  border: #00478d solid 1px;
  width: 130px;
  height: 50px;
}
.stacks p:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
  color: var(--secundária);
}
.stacks p > i {
  text-align: center;
}
.ttlProj, .ttlContato {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 50px;
  font-family: quantico;
}
.cardsProjetos {
  display: flex;
  align-items: stretch; /*para deixar os cards com a mesma altura */
  justify-content: space-evenly;
  gap: 20px;
  margin: 50px;
}
.cardProjeto {
  flex: 1;
  border: solid 2px var(--corContraste);
  border-radius: 10px;
}
.cardProjeto:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
.cardProjeto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cardProjeto h2 {
  text-align: center;
  margin-top: 20px;
}
.cardProjeto a {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 120px;
  color: var(--corContraste);
  padding: 3px;
  font-family: quantico;
  background-color: rgba(37, 37, 35, 0.475);
  text-decoration: none;
  border: solid 2px;
  border-image: linear-gradient(to right, var(--secundária), var(--corContraste));
  border-image-slice: 5;
}
.cardProjeto a:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
  background-color: #00478d;
  border-image: linear-gradient(to right, var(--corContraste), var(--secundária));
  border-image-slice: 5;
}
.cardProjeto p {
  padding: 0 20px 20px 20px;
  text-align: center;
}
.rodape {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.itensRodape {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
  font-family: quantico;
}
.itensRodape .fab.fa-linkedin,
.fab.fa-github {
  font-size: 5rem;

}
.itensRodape p {
  margin: 0;
  display: flex;
  text-align: center;
  flex-direction: column; 
  font-size: 1.2rem;
  padding: 30px;

}
